@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

html {
	height: 100%;
	width: 100%;
	background-color: transparent;
}

body {
	width: 100%;
  	height: 100%;
	background-color: transparent;
	overflow: hidden;

}

.container{
	display: inline-grid;
	grid-template-rows: 9% 10% 10% 10%;
	height: 100%;
	width: 100%;
}

.top{
	font: 16px/1 'Do Hyeon', sans-serif;
	height: 100%;
	width: 100%;
	grid-row: 1;
	display: inline-grid;
	grid-template-columns: 35% 30% 35%;
	align-items: center;
	justify-items: center;
}
.bottom{
	grid-row:2;
  padding-top: 20px
}


.button_div{
	width: 100%;
	grid-column: 2;
	align-items: center;
	justify-items: center;
}

button[id*="button"]{
	width: 49.275%;
	height: 70%;
	text-align: center;
}

.active{
	background-color: #4169E1;
	color: white;
}

.inactive{
	background-color: gray;
	color: black;
}

.icons{
	width: 100%;
	grid-column: 1;
	display: inline-grid;
	grid-template-columns: 20% 20% 60%;
	justify-items: center;
}

#home_icon{
	grid-column: 1;
	font-size: 35px;
	height: 100%
	width: 100%;
}
#home_icon:hover{
	color: white;
}

#grid_icon{
	grid-column: 2;
	font-size: 35px;
	height: 100%
	width: 100%;
}
#grid_icon:hover{
	color: white;
}
#gridview{
	width: 1200px;
	height: 800px;
}
#mode {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.date_form_div{
	width: 100%;
	height: 100%;
	grid-column: 3;
	display: inline-grid;
	grid-template-rows: 100%;
	justify-items: center;
	align-items: end;
}
.date_form{
	grid-row: 1;
	text-align: center;
}
#main {

  background-color: antiquewhite;
  position: relative;
  margin: 0 auto;

}

.pointer-events-none{
  pointer-events: none;
}

.add-present-border{
  border-style: solid;
  border-color: green;
  border-width: 3px;
}

.add-absent-border{
  border-style: solid;
  border-color: red;
  border-width: 3px;
}
.add-late-border{
  border-style: solid;
  border-color: #DAA520;
  border-width: 3px;
}

.squares {
  margin: 0px;
  background-color: transparent;
  display: inline-block;
  float: left;
  vertical-align: middle;
  border: 1px dashed silver;
}
.squares:hover{
  background-color: gray;
}

.squares img {
  align-self: center;
   height: 95%;
   width: 95%;
   box-shadow: 2px;
}


.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
