body {
  height: 100%;
  width: 100%;
}

#main {

  background-color: antiquewhite;
  position: relative;
  margin: 0 auto;

}

.pointer-events-none{
  pointer-events: none;
}

.add-present-border{
  border-style: solid;
  border-color: green;
  border-width: 3px;
}

.add-absent-border{
  border-style: solid;
  border-color: red;
  border-width: 3px;
}
.add-late-border{
  border-style: solid;
  border-color: #DAA520;
  border-width: 3px;
}

.squares {
  margin: 0px;
  background-color: transparent;
  display: inline-block;
  float: left;
  vertical-align: middle;
  border: 1px dashed silver;
}
.squares:hover{
  background-color: gray;
}

.squares img {
  align-self: center;
   height: 95%;
   width: 95%;
   box-shadow: 2px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body {
  overflow: hidden;

}
