#main {
  background-color: antiquewhite;
  position: relative;
}
.squares {
  margin: 1px;
  padding: 0;
  background-color: #F8F8F8;
  display: inline-block;
  float: left;
}
.squares:hover{
  background-color: gray;
}

.squares img {
   height: 100%;
   width: 100%;
}