/*Parent Feedback css*/
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
  	height: 100%;
  	font-weight: bold;
		background-color: transparent;

}

@media only screen and (min-width: 600px) and (max-width: 730px){

	.middlecol{
		zoom: 0.8;
	}
}

@media only screen and (min-width: 500px) and (max-width: 600px){

	.middlecol{
		zoom: 0.7;
	}
}

@media only screen and (min-width: 400px) and (max-width: 500px){

	.middlecol{
		zoom: 0.5;
	}
}

@media only screen and (max-width: 500px) {
	.middlecol{
		zoom: 0.3;
	}

	
}
.container{
	display: inline-grid;
	grid-template-columns: 20% 60% 20%;
	height: 100%;
	width: 100%;
}

.leftcol{
	grid-column: 1;
}

.middlecol{
	grid-column: 2;
	display: inline-grid;
	align-items: center;
	justify-items: center;
	font: 18px/1 'Do Hyeon', sans-serif;
}

.middlebox{
	height: 100%;
	width: 100%;
	display: inline-grid;
	grid-template-rows: 10% 90%;
	justify-items: center;
}

h1{
	grid-row: 1;
}

.form_div{
	/*width: 100%;*/
	grid-row: 2;
	display: inline-grid;
	align-items: center;
	justify-items: center;
}

.submit_button{
	padding: 0.5vw 2em;
    text-align: center;
    font-size: 0.8em;
    border-radius: 1px;

}
#home_icon{
	grid-column: 1;
	font-size: 35px;
	height: 100%
	width: 100%;
}
#home_icon:hover{
	color: white;
}
#mode {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.rightcol{
	grid-column: 3;
}
