
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');



/*

green tab1 - #226764
red tab 2 - #9F3548

orange tab3 - #C0783A

blue tab4 - 2D4571


*/



body {
  font: 16px/1 'Advent Pro', sans-serif;
  background: #eee;
}
h1 {
  padding: 20px 10px 0px 10px;
  font-weight: 700;
  text-align: center;
  font: 45px/1 'Cherry Swash', sans-serif;

}

h2 {
  font-weight: 50;
  text-align: center;
  font: 25px/1 'Do Hyeon', sans-serif;

}



p{
  margin: 0 0 20px;
  line-height: 1.5;
  font: 16px;
}

main {
  padding: 10px 50px 50px 50px;
  margin: 0 auto;


}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  width: auto;
  height: 700px;
}

section[id*='1'] {
  background-color: #8C9BAB;
}
section[id*='2'] {
  background-color: #E39496;
}
section[id*='3'] {
  background-color: #EBA060;
}
section[id*='4'] {
  background-color: #98B879;

}

#feedbackCell {
  padding: 20px 100px 20px 455px;
  width: 1000px;
  height: 600px;
}

#settingsCell {
  padding: 20px 100px 20px 105px;
  width: 1000px;
  height: 600px;
}
#engagementCell{
  padding: 50px;
  width: 1200px;
  height: 600px;

}

#home{
  margin-left: 20px;
  position: absolute;
  margin-top: 20px;
}

#allButtons {
  width: 900;
  margin: 30px 30px 10px 200px;
  height: 600px;
  display: inline-block;
  font-weight: 600;
  text-align: center;

}

#Engagement, #Feedback, #Settings{
    margin: 100px 50px 50px 10px;
    width: 200px;
    height: 200px;
    background-color: snow;
    vertical-align: middle;
    color: grey;
    box-shadow: 1px 1px 1px 1px;
}

#Engagement:hover{
  cursor: pointer;
  color: black
}
#Settings:hover{
  cursor: pointer;
  color: black
}
#Feedback:hover{
  cursor: pointer;
  color: black
}


input {
  display: none;
  position: absolute;
}
label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 50px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  color: white;

}


label[for*='1']{
  background-color: #0A5DBA;
  left: -35%;
}
label[for*='2']{
  background-color: #D92A2E;
  left: -15%;
}
label[for*='3']{
  background-color: #C0783A;
  left: 6%;
}
label[for*='4']{
  background-color: #5A9620;
  left: 26%;

}
label:hover {
  color: #888;
  cursor: pointer;
}

input{
  margin: 10px;
}


input:checked + label{
  color: white;
  z-index: 10;
  border-top: 2px solid orange;

}

input[type=radio]: checked {
  z-index: 10;
}


#class1:checked ~ #content1,
#class2:checked ~ #content2,
#class3:checked ~ #content3,
#class4:checked ~ #content4 {
  display: block;
}
