
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font: 16px/1 'Advent Pro', sans-serif;
  background: #eee;
}
h1 {
  padding: 30px;
  font-weight: 700;
  text-align: center;
  font: 45px/1 'Advent Pro', sans-serif;

}

p{
  margin: 0 0 20px;
  line-height: 1.5;
  font: 16px;
}

main {
  padding: 50px;
  margin: 0 auto;


}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  width: auto;
  height: 400px;
}

section[id*='1'] {
  background-color: #E6B098;
}
section[id*='2'] {
  background-color: #CC4452;
}
section[id*='3'] {
  background-color: #723147;
}
section[id*='4'] {
  background-color: #31152B;
}


#allButtons {
  width: 900;
  margin: 30px 30px 10px 200px;
  height: 300px;
  display: inline-block;
  font-weight: 600;
  text-align: center;

}

#Engagement, #Feedback, #Settings{
    margin: 100px 50px 50px 10px;
    width: 200px;
    height: 200px;
    background-color: snow;
}

#Engagement, #Feedback, #Settings:hover{
  color: #888;
  cursor: pointer;
}


input {
  display: none;
  position: absolute;
}
label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 50px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  color: white;
}


label[for*='1']{
  background-color: #E6B098;
  left: -35.5%;
}
label[for*='2']{
  background-color: #CC4452;
  left: -15%;
}
label[for*='3']{
  background-color: #723147;
  left: 6%;
}
label[for*='4']{
  background-color: #31152B;
  left: 26%;

}
label:hover {
  color: #888;
  cursor: pointer;
}

input{
  margin: 10px;
}


input:checked + label{
  color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  z-index: 10;
  border-top: 2px solid orange;

}

input[type=radio]: checked {
  z-index: 10;
}


#class1:checked ~ #content1,
#class2:checked ~ #content2,
#class3:checked ~ #content3,
#class4:checked ~ #content4 {
  display: block;
}
