* {
  box-sizing: border-box;
}

body {

  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; 
}

@font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
          url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.notecard {
  position: relative;
  top: 10%;
  left: 10%;
  justify-content: center;
  max-width: 700px;
  margin: 4% auto;
  height: 300px;
  width: 40%;
  border: 1px solid black;
 background-image: -webkit-linear-gradient(top, #ffffff 15%, #F94545 16%, #ffffff 16%, #ffffff 25%, #85b2d3 26%, #ffffff 26%, #ffffff 35%, #85b2d3 36%, #ffffff 36%, #ffffff 45%, #85b2d3 46%, #ffffff 46%, #ffffff 55%, #85b2d3 56%, #ffffff 56%, #ffffff 65%, #85b2d3 66%, #ffffff 66%, #ffffff 75%, #85b2d3 76%, #ffffff 76%, #ffffff 85%, #85b2d3 86%, #ffffff 86%);
 background-image: linear-gradient(to bottom, #ffffff 15%, #F94545 16%, #ffffff 16%, #ffffff 25%, #85b2d3 26%, #ffffff 26%, #ffffff 35%, #85b2d3 36%, #ffffff 36%, #ffffff 45%, #85b2d3 46%, #ffffff 46%, #ffffff 55%, #85b2d3 56%, #ffffff 56%, #ffffff 65%, #85b2d3 66%, #ffffff 66%, #ffffff 75%, #85b2d3 76%, #ffffff 76%, #ffffff 85%, #85b2d3 86%, #ffffff 86%);
 -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/*.notecard:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}*/


#message {
  position: relative;
}




.notecard .column1, .column2{
  width: 20%;
  margin: 0 auto;
}

.notecard .column3{
  width: 20%;
  margin: 0 auto;
}
.notecard textarea {
      display : block;
      width   : 100%;
      margin: 0 auto;
      margin-top: 10px;
      height  : 220px;
      resize  : none;
      overflow: auto;
      font    : 1.2em/1.5 "handwriting", sans-serif;
      border  : none;
      z-index: 1000;

    }

input:focus, textarea:focus, textarea:hover {
      background   : rgba(0,0,0,.1);
      border-radius: 5px;
      outline      : none;
    }

/*.notecard button {
      position     : relative;
      padding      : 5px;
      width: 26%;
      margin-left: 37%;
      margin-right: 37%;
      font         : bold .6em sans-serif;
      border       : 2px solid #333;
      border-radius: 5px;
      background   : none;
      cursor       : pointer;
    }

.notecard button:hover,
.notecard button:focus {
      outline   : none;
      background: #000;
      color   : #FFF;
    }*/


.notecard .column{
  float: left;
  width: 33.33%;
}



.notecard p {
  font: 1em/.9 "Lucida Grande", Helvetica, Sans-Serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.notecard p:first-child {
   margin-top: 1.8em;
}
.notecard div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  margin: 0 auto;
}
.notecard .front {
  z-index: 100;
  float:left;
  vertical-align: left;
}
.notecard .back {
  z-index: 50;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

}