@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {

  background:transparent;
  overflow:auto;
  position:static;

}



.containers{
  overflow-x: scroll;
}

#contain {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYV2NkIBIwEqmOYVQh3pAiNnj+AwALaAEKfsPrZgAAAABJRU5ErkJggg==);
  background-position: 18px 11px;
  height: 500px;
  display: flex;

}


@media only screen and (min-width: 900px){
  .table{
    width: 100%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 900px){

  .upload{
    width: 200px;
  }
  .container{
    zoom: 0.8;
  }

  
}

  @media only screen and (min-width: 200px) and (max-width: 600px){

    .container{
    zoom: 0.6;
  }

  }

    @media only screen and (min-width: 0px) and (max-width: 200px){

    #contain{
      width: 75vw;
    }

  }



@media (min-width: 200px){
.col-md-8 {
    width: 100%;
}
}




.box {
  margin: 0 auto;
  margin-top: 0px;
  width: 100px;
  height:100px;
  padding-top: 0px;
  object-fit: contain;
  width:100%

}

.ui-helper {
    width: 100% !important;
}

.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.opac {
  opacity: .8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

.studentImages{
  width: 100%;
  height:100%;
  border-radius: 50%
}


.studentTable {
  background-color: rgba(255,235,205, 0.7)
}

.name {
  width: 100%;
  height: 20px;
  background: grey;
  top:90px;
  position:absolute;
  color: gainsboro;
  font: 16px/1 'Do Hyeon', sans-serif;
  text-align:center;
}




h2 {
    font: 22px/1 'Do Hyeon', sans-serif;
}


#tableGrid {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 74%;
    font: 16px/1 'Do Hyeon', sans-serif;
}

#home_icon{
  grid-column: 1;
  font-size: 35px;
  height: 100%;
  width: 100%;
}
#home_icon:hover{
  color: white;
}

#grid_icon{
  grid-column: 2;
  font-size: 35px;
  height: 100%;
  width: 100%;
}
#grid_icon:hover{
  color: white;
}
#gridview{
  width: 1200px;
  height: 800px;
}
#mode {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}




input {
    text-align: center;
    border: none;
    background: transparent;
}
th {
  text-align: center;
  vertical-align: middle;
}

td {
    text-align: center;
    vertical-align: middle;
}


.table-editable {
  position: relative;
  display: flex;
  height: 350px;
  overflow: scroll;
  margin: 30px;
  }
.table-editable.glyphicon {
    font-size: 20px;
  }

.table-remove {
  color: #700;
  cursor: pointer;
}
.table-remove:hover {
    color: #f00;
  }



.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 25px;
  }
.table-add:hover {
    color: #0b0;
  }

.show{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor:pointer;
  border-radius: 12px;
}

.show:hover{
  background-color: grey;
}


  


