@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

h2 {
    font: 22px/1 'Do Hyeon', sans-serif;
}

body{
  background:transparent;
}

#tableGrid {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 74%;
    font: 16px/1 'Do Hyeon', sans-serif;
}

#home_icon{
	grid-column: 1;
	font-size: 35px;
	height: 100%;
	width: 100%;
}
#home_icon:hover{
	color: white;
}

#grid_icon{
	grid-column: 2;
	font-size: 35px;
	height: 100%;
	width: 100%;
}
#grid_icon:hover{
	color: white;
}
#gridview{
	width: 1200px;
	height: 800px;
}
#mode {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}





@import "compass/css3";

.table-editable {
  position: relative;
}
  
.glyphicon {
    font-size: 20px;
  }

.table-remove {
  color: #700;
  cursor: pointer;
}
  
.table-remove:hover {
    color: #f00;
  }


.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 15px;
}
  
.table-add:hover {
    color: #0b0;
  }
