@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

h2 {
    font: 22px/1 'Do Hyeon', sans-serif;
}

#tableGrid {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    font: 16px/1 'Do Hyeon', sans-serif;
}

td, th {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}


#delete {
	background-color: #F08080;
	height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:70%;
    margin-bottom: 20px;
    border-radius: 12px;
    cursor: pointer; 
}

#delete:hover{
	background: #B22222;
}

#add {
	background-color: #90EE90;
	height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:35%;
    margin-top: 10px;
    border-radius: 12px;
    cursor: pointer; 
    
}

#add:hover{
	background: #32CD32;
}

.addInput{
	margin-top: 15px;
}

.addInput:focus{
	border-color: #dddddd;
}





